<div class="custom-list--item">
                                        <div class="text-dark custom-card--inline">

                                            <div class="custom-card--inline-img"><a href="<%= song_path item %>"><img src="<%= item.picture %>" alt="" class="card-img--radius-sm"></a></div>
                                            <div class="custom-card--inline-desc">
                                                <a href="<%= song_path item %>">
                                                <p class="text-truncate mb-0"><%= item.title %></p></a>
                                                <p class="text-truncate text-muted font-sm"><%= item.artist.name %></p>
                                            </div>

                                        </div>

                                        <ul class="custom-card--labels d-flex ml-auto">
                                            <li><span class="badge badge-pill badge-warning"><i class="la la-star"></i></span></li>
                                            <li class="dropleft"><a href="javascript:void(0);" class="btn btn-icon-only p-0 w-auto h-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="la la-ellipsis-h"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link favorite"><i class="la la-heart-o"></i> <span>Favorite</span></a></li>
                                                    <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-plus"></i> <span>Add to Playlist</span></a></li>
                                                    <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-download"></i> <span>Download</span></a></li>
                                                    <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-share-alt"></i> <span>Share</span></a></li>
                                                    <li class="dropdown-item"><a href="song-details.html" class="dropdown-link"><i class="la la-info-circle"></i> <span>Song Info</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
