<div class="col-lg-4">
              <div class="show">
                <div class="show_image">
                  <a href="<%= song_path song %>">
                  <img height="350" width="350" src="../assets/<%= song.picture %>" alt="https://unsplash.com/@icons8">
                  </a>
                  <div class="show_tags">
                    <div class="tags">
                      <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a href="#"><%= load_genres song %></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="show_play_icon"><img src="../assets/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
                </div>
                <div class="show_content">
                  <div class="show_date"><a href="#">24 September, 2018</a></div>
                  <div class="show_title"><a href="episode.html"><%= song.title %></a></div>
                  <div class="show_info d-flex flex-row align-items-start justify-content-start">
                    <div class="show_fav d-flex flex-row align-items-center justify-content-start">
                      <div class="show_fav_icon show_info_icon"><img class="svg" src="../assets/heart.svg" alt=""></div>
                      <div class="show_fav_count">2371</div>
                    </div>
                    <div class="show_comments">
                      <a href="#">
                        <div class="d-flex flex-row align-items-center justify-content-start">
                          <div class="show_comments_icon show_info_icon"><img class="svg" src="../assets/speech-bubble.svg" alt=""></div>
                          <div class="show_comments_count"><%= song.comments.count %> Comments</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
