<div class="custom-card">
                            <div class="custom-card--img">
                                <div class="custom-card--info">
                                    <div class="dropdown dropdown-icon"><a href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ion-md-more"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link favorite"><i class="la la-heart-o"></i></a></li>
                                            <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-plus"></i></a></li>
                                            <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-download"></i></a></li>
                                            <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-share-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" data-audio='{"name": "<%= album_song.title %>", "artist": "<%= album_song.artist.name %>", "album": "<%= album_song.album %>", "url": "<%= album_song.url %>", "cover_art_url": "<%= album_song.picture %>"}'><img src="<%= album_song.picture %>" alt="<%= album_song.title %>" class="card-img--radius-lg"></a>
                            </div><a href="song-details.html" class="custom-card--link mt-2"><h6><%= album_song.title %></h6><p><%= album_song.artist %></p></a></div>
