

      <%= stylesheet_link_tag 'songs_show' %>


  <div class="home">
    <img src="../assets/wallpaper_show.jpg" alt="" style="width: 100%; height: 100%;" >
    <div class="home_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content text-center">
              <div class="home_title"><h1><%= @song.title %></h1></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home_player_container">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 offset-lg-3">

            <!-- Episode -->
            <div class="player d-flex flex-row align-items-start justify-content-start s1">
              <div class="player_content">

                <!-- Player -->
                <div class="single_player_container">

                  <div class="single_player d-flex flex-row align-items-center justify-content-start">
                    <div id="jplayer_1" class="jp-jplayer"></div>
                    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                      <div class="jp-type-single">
                        <div class="player_controls">
                          <div class="jp-gui jp-interface d-flex flex-row align-items-center justify-content-start">
                            <div class="jp-controls-holder time_controls d-flex flex-row align-items-center justify-content-between">
                              <div>
                                <div class="jp-controls-holder play_button ml-auto">
                                  <button class="jp-play" tabindex="0"></button>
                                </div>
                              </div>
                              <div>
                                <div class="jp-progress">
                                  <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="jp-volume-controls d-flex flex-row align-items-center justify-content-between ml-auto">
                              <div class="d-flex flex-row align-items-center justify-content-start">
                                <button class="jp-mute" tabindex="0"></button>
                              </div>
                              <div class="d-flex flex-row align-items-center justify-content-start">
                                <div class="jp-volume-bar">
                                  <div class="jp-volume-bar-value"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="jp-no-solution">
                          <span>Update Required</span>
                          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="show_info d-flex flex-row align-items-start justify-content-start">
                  <div class="show_fav d-flex flex-row align-items-center justify-content-start">
                    <div class="show_fav_icon show_info_icon"><img class="svg" src="../assets/heart.svg" alt=""></div>
                    <div class="show_fav_count">2371</div>
                  </div>
                  <div class="show_comments">
                    <a href="#">
                      <div class="d-flex flex-row align-items-center justify-content-start">
                        <div class="show_comments_icon show_info_icon"><img class="svg" src="../assets/speech-bubble.svg" alt=""></div>
                        <div class="show_comments_count">88 Comments</div>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Episode -->

  <div class="episode_container">

    <!-- Episode Image -->
    <div class="episode_image_container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <!-- Episode Image -->
            <div class="episode_image"><img src="../assets/<%= @song.picture  %>" alt=""></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <!-- Sidebar -->
        <div class="col-lg-3 order-lg-1 order-2 sidebar_col">
          <div class="sidebar">

            <!-- Categories -->
            <div class="sidebar_list">
              <div class="sidebar_title">Genres</div>
              <ul>
                <% @song.song_genres.each do |sg| %>
                <li><a href="#"><%= sg.genre.title %></a></li>
                <% end %>
              </ul>
            </div>

            <!-- Tags -->


            <!-- Archive -->
            <div class="sidebar_archive">
              <div class="sidebar_title">Archive</div>
              <div class="dropdown">
                <ul>
                  <li class="dropdown_selected d-flex flex-row align-items-center justify-content-start"><span>September 2018</span><i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
                    <ul>
                      <li><a href="#">August 2018</a></li>
                      <li><a href="#">July 2018</a></li>
                      <li><a href="#">June 2018</a></li>
                      <li><a href="#">May 2018</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Episode -->
        <div class="col-lg-9 episode_col order-lg-2 order-1">
          <div class="intro">
            <div class="section_title"><%= @song.artist_name %></div>
            <div class="intro_text">
              <p class="lyrics"><%= load_lyrics @song %></p>
            </div>
          </div>
          <div class="guests">
            <div class="section_title">Suggested Songs</div>
            <div class="guests_container d-flex flex-md-row flex-column align-items-md-start align-items-center justify-content-start">
              <% @song.artist.songs.each do |song| %>
                <div class="guest_container">
                  <div class="guest">
                    <div class="guest_image"><img src="../assets/<%= song.picture %>" alt="https://unsplash.com/@stairhopper"></div>
                    <div class="guest_content text-center">
                      <div class="guest_name"><a href="#"><%= song.title %></a></div>
                      <div class="guest_title"><%= @song.artist_name %></div>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- Guest -->




            </div>
          </div>

          <!-- Comments -->
          <div class="comments">
            <div class="section_title">Comments</div>
            <div class="comments_container">
              <ul class="comments_list">

                <!-- Comment -->
                <%= render @comments  %>
                <!-- Comment -->


              </ul>
                       <div class="paginate-bar">    <%= paginate @comments, remote: true ,params: {controller: 'songs', action: 'show'}%>
                        </div>

            </div>
          </div>

          <!-- Leave a Comment -->
          <%= render "comments/form" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->

      <%= javascript_include_tag 'songs_show' %>

<script language="javascript">
 $(document).ready(function(){
  setHeader();
  initMenu();
  initFavs();
  initSvg();
  initSinglePlayer('<%= @song.url %>');
  initGallery();
 })
</script>
