<!DOCTYPE html>
<html>
  <head>
    <title>Jinx MP3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="../assets/logos/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="../assets/logos/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/logos/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/logos/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../assets/logos/touch-icon-ipad-retina.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all' %>
          <link href="../assets/vendors.bundle.css" rel="stylesheet" type="text/css">
    <link href="../assets/styles.bundle.css" rel="stylesheet" type="text/css">
  </head>

  <body>
   <div id="loading">
        <div class="loader">
            <div class="eq"><span class="eq-bar eq-bar--1"></span> <span class="eq-bar eq-bar--2"></span> <span class="eq-bar eq-bar--3"></span> <span class="eq-bar eq-bar--4"></span> <span class="eq-bar eq-bar--5"></span> <span class="eq-bar eq-bar--6"></span></div><span class="text">Loading</span></div>
    </div>
    <div id="wrapper" data-scrollable="true">
        <aside id="sidebar" class="sidebar-primary">
            <div class="sidebar-header d-flex align-items-center">
                <a href="../index.html" class="brand"><img src="../assets/logos/logo.svg" alt="listen-app"> </a>
                <button type="button" class="btn p-0 ml-auto" id="hideSidebar"><i class="ion-md-arrow-back h3"></i></button>
                <button type="button" class="btn toggle-menu" id="toggleSidebar"><span></span> <span></span> <span></span></button>
            </div>
            <nav class="navbar">
                <ul class="navbar-nav" data-scrollable="true">
                    <li class="nav-item nav-header">Browse Music</li>
                    <li class="nav-item"><a href="home.html" class="nav-link active"><i class="la la-home"></i><span>Home</span></a></li>
                    <li class="nav-item"><a href="genres.html" class="nav-link"><i class="la la-diamond"></i><span>Genres</span></a></li>
                    <li class="nav-item"><a href="music.html" class="nav-link"><i class="la la-music"></i><span>Free Music</span></a></li>
                    <li class="nav-item"><a href="artists.html" class="nav-link"><i class="la la-microphone"></i><span>Artists</span></a></li>
                    <li class="nav-item"><a href="stations.html" class="nav-link"><i class="la la-bullseye"></i><span>Stations</span></a></li>
                    <li class="nav-item nav-header">Your Music</li>
                    <li class="nav-item"><a href="analytics.html" class="nav-link"><i class="la la-bar-chart"></i><span>Analytics</span></a></li>
                    <li class="nav-item"><a href="favorites.html" class="nav-link"><i class="la la-heart-o"></i><span>Favorites</span></a></li>
                    <li class="nav-item"><a href="history.html" class="nav-link"><i class="la la-history"></i><span>History</span></a></li>
                    <li class="nav-item nav-header">Music Events</li>
                    <li class="nav-item"><a href="events.html" class="nav-link"><i class="la la-calendar"></i><span>Events</span></a></li>
                    <li class="nav-item"><a href="event-details.html" class="nav-link"><i class="la la-newspaper-o"></i><span>Event Details</span></a></li>
                    <li class="nav-item"><a href="add-event.html" class="nav-link"><i class="la la-pencil-square-o"></i><span>Add Event</span></a></li>
                    <li class="nav-item nav-header">Extra Pages</li>
                    <li class="nav-item"><a href="error.html" class="nav-link"><i class="la la-times-circle-o"></i><span>Error</span></a></li>
                    <li class="nav-item"><a href="blank.html" class="nav-link"><i class="la la-file"></i><span>Blank</span></a></li>
                </ul>
            </nav>
            <div class="sidebar-footer"><a href="add-music.html" class="btn btn-block btn-danger btn-air btn-bold"><i class="ion-md-musical-note"></i> <span>Add Music</span></a></div>
        </aside>
      <!-- Home -->
    <%= yield %>
      <!-- Latest Episodes -->

      <%= javascript_include_tag 'application' %>
        <script src="../assets/vendors.bundle.js"></script>
    <script src="../assets/scripts.bundle.js"></script>

  </body>
</html>
