<!DOCTYPE html>
<html>
  <head>
    <title>Jinx MP3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="../assets/logos/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="../assets/logos/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/logos/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/logos/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../assets/logos/touch-icon-ipad-retina.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

      <%= stylesheet_link_tag    'application', media: 'all' %>

          <link href="../assets/vendors.bundle.css" rel="stylesheet" type="text/css">
    <link href="../assets/styles.bundle.css" rel="stylesheet" type="text/css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
   <div id="loading">
        <div class="loader">
            <div class="eq"><span class="eq-bar eq-bar--1"></span> <span class="eq-bar eq-bar--2"></span> <span class="eq-bar eq-bar--3"></span> <span class="eq-bar eq-bar--4"></span> <span class="eq-bar eq-bar--5"></span> <span class="eq-bar eq-bar--6"></span></div><span class="text">Loading</span>
        </div>
    </div>
    <div id="wrapper" data-scrollable="true">
        <aside id="sidebar" class="sidebar-primary">
            <div class="sidebar-header d-flex align-items-center">
                <a href="<%= root_path %>" class="brand"><img src="../assets/logos/logo.svg" alt="listen-app"> </a>
                <button type="button" class="btn p-0 ml-auto" id="hideSidebar"><i class="ion-md-arrow-back h3"></i></button>
                <button type="button" class="btn toggle-menu" id="toggleSidebar"><span></span> <span></span> <span></span></button>
            </div>
            <nav class="navbar">
                <ul class="navbar-nav" data-scrollable="true">
                    <li class="nav-item nav-header">Browse Music</li>
                    <li class="nav-item"><a href="<%= root_path %>" class="nav-link"><i class="la la-home"></i><span>Home</span></a></li>
                    <li class="nav-item"><a href="<%= genres_path %>" class="nav-link"><i class="la la-diamond"></i><span>Genres</span></a></li>
                    <li class="nav-item"><a href="<%= artists_path %>" class="nav-link"><i class="la la-microphone"></i><span>Artists</span></a></li>
                    <li class="nav-item nav-header">Your Music</li>
                    <li class="nav-item"><a href="favorites.html" class="nav-link"><i class="la la-play"></i><span>My Playlist</span></a></li>
                    <li class="nav-item"><a href="favorites.html" class="nav-link"><i class="la la-heart-o"></i><span>Favorites</span></a></li>
                    <li class="nav-item"><a href="history.html" class="nav-link"><i class="la la-history"></i><span>History</span></a></li>
                    <li class="nav-item nav-header">Music Events</li>
                    <li class="nav-item"><a href="events.html" class="nav-link"><i class="la la-calendar"></i><span>Events</span></a></li>
                    <li class="nav-item"><a href="event-details.html" class="nav-link"><i class="la la-newspaper-o"></i><span>Event Details</span></a></li>
                    <li class="nav-item"><a href="add-event.html" class="nav-link"><i class="la la-pencil-square-o"></i><span>Add Event</span></a></li>
                    <li class="nav-item nav-header">Extra Pages</li>
                    <li class="nav-item"><a href="error.html" class="nav-link"><i class="la la-times-circle-o"></i><span>Error</span></a></li>
                    <li class="nav-item"><a href="blank.html" class="nav-link"><i class="la la-file"></i><span>Blank</span></a></li>
                </ul>
            </nav>
            <div class="sidebar-footer"><a href="add-music.html" class="btn btn-block btn-danger btn-air btn-bold"><i class="ion-md-musical-note"></i> <span>Add Music</span></a></div>
        </aside>
           <main id="pageWrapper">
            <header id="header" class="bg-primary">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn toggle-menu mr-3" id="openSidebar"><span></span> <span></span> <span></span></button>
                    <form action="#" id="searchForm">
                        <button type="button" class="btn ion-ios-search"></button>
                        <input type="text" placeholder="Search..." class="form-control">
                        <div class="search-card" data-scrollable="true">
                            <div class="mb-3">
                                <div class="d-flex"><span class="text-uppercase mr-auto font-weight-bold text-dark">Artists</span> <a href="artists.html">View All</a></div>
                                <hr>
                                <div class="row">
                                    search artist

                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex"><span class="text-uppercase mr-auto font-weight-bold text-dark">Track</span> <a href="songs.html">View All</a></div>
                                <hr>
                                <div class="row">
                                  search song

                                </div>
                            </div>
                            <div>
                                <div class="d-flex"><span class="text-uppercase mr-auto font-weight-bold text-dark">Albums</span> <a href="songs.html">View All</a></div>
                                <hr>
                                <div class="row">
                                    search album
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul class="header-options d-flex align-items-center">
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#lang" class="language"><span>Language</span> <img src="../assets/svg/translate.svg" alt=""></a></li>
                        <li class="dropdown fade-in">
                             <% if user_signed_in? %>
                            <a href="javascript:void(0);" class="d-flex align-items-center py-2" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <div class="avatar avatar-sm avatar-circle"><img src="../assets/users/thumb.jpg" alt="user"></div><span class="pl-2">Hello <%= current_user.email %></span></a>
                            <% end %>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu"><a class="dropdown-item" href="#"><i class="ion-md-contact"></i> <span>Profile</span></a> <a class="dropdown-item" href="#"><i class="ion-md-radio-button-off"></i> <span>Your Plan</span></a> <a class="dropdown-item" href="#"><i class="ion-md-settings"></i> <span>Settings</span></a>
                                <div class="dropdown-divider"></div>
                                <div class="px-4 py-2"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-air btn-pill btn-danger" %>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="banner bg-home"></div>
                <%= yield %>
                <footer id="footer" class="bg-img">
                <div class="footer-content"><a href="#" class="email">info@listenapp.com</a>
                    <div class="platform-btn-inline"><a href="#" class="btn btn-dark btn-air platform-btn"><i class="ion-logo-android"></i><div class="platform-btn-info"><span class="platform-desc">Available on</span> <span class="platform-name">Android</span></div></a><a href="#" class="btn btn-danger btn-air platform-btn"><i class="ion-logo-apple"></i><div class="platform-btn-info"><span class="platform-desc">Available on</span> <span class="platform-name">App Store</span></div></a></div>
                </div>
            </footer>
            <div id="audioPlayer" class="player-primary">
                <div id="progress-container">
                    <input type="range" class="amplitude-song-slider">
                    <progress class="audio-progress audio-progress--played amplitude-song-played-progress"></progress>
                    <progress class="audio-progress audio-progress--buffered amplitude-buffered-progress" value="0"></progress>
                </div>
                <div class="audio">
                    <div class="song-image"><img data-amplitude-song-info="cover_art_url" src="../assets/cover/small/1.jpg" alt=""></div>
                    <div class="song-info pl-3"><span class="song-name d-inline-block text-truncate" data-amplitude-song-info="name"></span> <span class="song-artists d-block text-muted" data-amplitude-song-info="artist"></span></div>
                </div>
                <div class="audio-controls">
                    <div class="audio-controls--left d-flex mr-auto">
                        <button class="btn btn-icon-only amplitude-repeat"><i class="ion-md-sync"></i></button>
                    </div>
                    <div class="audio-controls--main d-flex">
                        <button class="btn btn-icon-only amplitude-prev"><i class="ion-md-skip-backward"></i></button>
                        <button class="btn btn-air btn-pill btn-default btn-icon-only amplitude-play-pause"><i class="ion-md-play"></i> <i class="ion-md-pause"></i></button>
                        <button class="btn btn-icon-only amplitude-next"><i class="ion-md-skip-forward"></i></button>
                    </div>
                    <div class="audio-controls--right d-flex ml-auto">
                        <button class="btn btn-icon-only amplitude-shuffle amplitude-shuffle-off"><i class="ion-md-shuffle"></i></button>
                    </div>
                </div>
                <div class="audio-info d-flex align-items-center pr-4"><span class="mr-4"><span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span> / <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span></span>
                    <div class="audio-volume dropdown">
                        <button class="btn btn-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ion-md-volume-low"></i></button>
                        <div class="dropdown-menu dropdown-menu-right volume-dropdown-menu">
                            <input type="range" class="amplitude-volume-slider" value="100">
                        </div>
                    </div>
                    <div class="dropleft">
                        <button class="btn btn-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="la la-ellipsis-v"></i></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-heart-o"></i> <span>Favorite</span></a></li>
                            <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-plus"></i> <span>Add to Playlist</span></a></li>
                            <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-download"></i> <span>Download</span></a></li>
                            <li class="dropdown-item"><a href="javascript:void(0);" class="dropdown-link"><i class="la la-share-alt"></i> <span>Share</span></a></li>
                            <li class="dropdown-item"><a href="song-details.html" class="dropdown-link"><i class="la la-info-circle"></i> <span>Song Info</span></a></li>
                        </ul>
                    </div>
                    <button class="btn btn-icon-only" id="playList"><i class="ion-md-musical-note"></i></button>
                </div>
            </div>
        </main>
    </div>
    <div class="modal fade" id="lang" tabindex="-1" role="dialog" aria-labelledby="langTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title mb-1" id="langTitle">Language</h5>
                        <p class="text-muted">Please select the language(s) of the music you listen to.</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group row">
                        <li class="list-group-item border-0 col-sm-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="ch16">
                                <label class="custom-control-label" for="ch16">Vietnamese</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer text-center d-block">
                    <button type="button" class="btn btn-primary btn-pill" id="langApply">Apply</button>
                </div>
            </div>
        </div>
    </div>
    <% unless user_signed_in? %>
    <%= render partial: 'devise/sessions/new' %>
    <%= render partial: 'devise/registrations/new' %>
    <% end %>
    <div class="backdrop header-backdrop"></div>
    <div class="backdrop sidebar-backdrop"></div>

      <!-- Latest Episodes -->

      <%= javascript_include_tag 'application' %>

        <script src="../assets/vendors.bundle.js"></script>
    <script src="../assets/scripts.bundle.js"></script>
    <script type="text/javascript">
        $(".nav-link").removeClass(localStorage.getItem("status"));
        var status = localStorage.getItem("status");
        var elHref = localStorage.getItem("elementsHref")
        $("a[href$='"+elHref+"']").addClass(status);

        $(document).ready(function($){
          $(".nav-link").bind('click', function () {
            // Set
            localStorage.setItem("status", "active");
            localStorage.setItem("elementsHref", $(this).attr("href"))
            $(".nav-link").removeClass(localStorage.getItem("status"));
            $(this).addClass(localStorage.getItem("status"));

          });
      })
        if(window.location.pathname === "/"){
           $("#login").modal("show")
        }

    </script>
  </body>
</html>
